* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

mark.blue {
    color: rgb(58, 140, 202);
    background-color: rgba(0, 0, 0, 0);
}

body {
    height: 2500px;
    background: url("/tile.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    background-attachment: fixed;
}

.wrapper {
    z-index: 1;
    position: relative;
    margin: 150px auto;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: 100px;
    background: #ECEFF1;
    padding: 30px 30px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius: 250px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }
}

.wrapper::after, .wrapper::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: inherit;
    border-radius: 50%;
    z-index: -1;
}

.wrapper.animate {
    animation: moveUpDown 4s ease-in-out infinite;
}

.wrapper::after {
    width: 250px;
    height: 250px;
    top: -70px;
    left: 145px;
}

.wrapper::before {
    width: 350px;
    height: 350px;
    top: -115px;
    right: 195px;
}

.logo {
    max-width: 200px;
    margin-left: 50px;
}

.text_content {
    color: rgb(0, 0, 0);
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 0px;
}

.text {
    position: relative;
    top: 0;
}

.heading {
    font-size: 45px;
    margin-bottom: 5px;
    font-weight: 600;
}

.description {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.info {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    max-width: 500px;
}

@media (max-width: 850px) {

    body {
        height: 4000px;
    }
    .wrapper {
        flex-direction: column;
        margin-left: auto;
        width: 70%;
        padding: 30px 30px;
        border-radius: 50px;
        margin-top: 15px;
    }

    .wrapper::before, .wrapper::after {
        content: none;
    }

    .logo {
        margin: 0;
        align-self: center;
        margin-top: 5px;
        max-width: 350px;
    }

    .text_content {
        margin-left: 0px;
    }
    
    .text {
        position: relative;
        top: 0;
        text-align: center;
    }
    
    .heading {
        font-size: 45px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    
    .description {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    
    .info {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 400;
        max-width: 500px;
    }
}

@media (max-width: 520px) {
    .logo {
        display: none;
    }

    .wrapper {
        margin-top: -50px;
    }
}