* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

mark.blue {
    color: rgb(75, 123, 234);
    background-color: rgba(0, 0, 0, 0);
}

body {
    height: 1400px;
    background: url("../assets/tile.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    background-attachment: fixed;
}

.wrapper {
    width: fit-content;
    height: fit-content;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.text {
    text-align: center;
}

.heading {
    font-size: 72px;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
}
.description {
    font-size: 20px;
    font-weight: 400;
    color: rgb(157, 157, 157);
}

.info {
    font-size: 20px;
    font-weight: 400;
    color: rgb(157, 157, 157);
    margin-bottom: 20px;
}

.projects {
    font-size: 16px;
    color: rgb(225, 225, 225);
    background-color: #1b1a1a;
    border: solid 1px #666666;
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: 500;
}
