* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

mark.blue {
    color: rgb(75, 123, 234);
    background-color: rgba(0, 0, 0, 0);
}

mark.purple {
    color: #BB86FC;
    background-color: rgba(0, 0, 0, 0);
}

mark.other {
    color: rgb(75, 123, 234);
    background-color: rgba(0, 0, 0, 0);
}

body {
    height: 4000px;
    background: url("../assets/tile.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start; 
    background-attachment: fixed;
    overflow-x: hidden; 
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-list {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 286px;
    font-size: 1.2em;
    margin-top: 40px;
}

.header-item {
    font-size: 20px;
    color: white;
}

.header-item:hover {
    text-decoration: underline;
}

.holder {
    height: 100%;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1000px;
}

.wrapper {
    margin-top: 175px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 4.5rem;
    color: white;
}

.description {
    margin-top: 8vh;
    font-size: 1.3rem;
    color: rgb(213, 212, 212);
}

.chkprj  {
    margin-top: 1vh;
    font-size: 1.3rem;
    color: rgb(213, 212, 212);
}

.prj_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about {
    margin-top: 8vh;
    background-color: #131313;
    width: 100%;
    height: fit-content;
    border-radius: 24px;
    border: 0px solid rgb(213, 212, 212); 
    overflow-x: hidden;
    padding-bottom: 15px;
}

.about_text {
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 2rem;
    font-weight: 700;
}

.section {
    height: fit-content;
}

.section_title {
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}

.section_description {
    width: 100%;
    padding: 0 15px;
    font-size: 1.2rem;
}

.projects {
    width: 100%;
}

.prj_title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 75px;
    margin-bottom: 15px;
}

.contact {
    width: 100%;
}

.contact_title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 75px;
    margin-bottom: 15px;
}

.contact_holder {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.contact_text {
    font-size: 1.2rem;
    color: white;
    background-color: rgb(75, 123, 234);
    padding: 4px 8px;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .header {
        justify-content: center;
    }

    .header-list {
        width: 250px;
    }

    .header-item {
        font-size: 1em;
    }

    .title {
        font-size: 2.3rem;
    }
    
    .description {
        font-size: 1.2rem;
    }
    
    .chkprj  {
        font-size: 1.2rem;
    }
    
    .about_text {
        font-size: 1.5rem;
    }

    .section_title {
        font-size: 1rem;
    }
    
    .section_description {
        font-size: 1rem;
    }

    .prj_title {
        font-size: 1.5rem;
    }

    .contact_title {
        font-size: 1.5rem;
    }

    .contact_holder {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
}