:root {
    --bg-color: #20202084;
    
  }

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

mark.blue {
    color: #4b7bea;
    background-color: rgba(0, 0, 0, 0);
}

mark.purple {
    color: #BB86FC;
    background-color: rgba(0, 0, 0, 0);
}

mark.other {
    color: rgb(75, 123, 234);
    background-color: rgba(0, 0, 0, 0);
}

body {
    height: fit-content;
    background: url("../assets/tile.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start; 
    background-attachment: fixed;
    overflow-x: hidden; 
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-list {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 286px;
    font-size: 1.2em;
    margin-top: 40px;
}

.header-item {
    font-size: 20px;
    color: white;
}

.header-item:hover {
    text-decoration: underline;
}

.holder {
    height: 100%;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1000px;
}

.wrapper {
    margin-top: 175px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 4.5em;
    color: #4b7bea;
}

.title::before {
    content: ">";
    padding-right: 50px;
}

.caret {
    background-color: #4b7bea;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 100% { background-color: #4b7bea; }
    50% { background-color: transparent; }
}

.description {
    margin-top: 8vh;
    font-size: 1.3em;
    color: rgb(213, 212, 212);
}

.chkprj  {
    margin-top: 1vh;
    font-size: 1.3em;
    color: rgb(213, 212, 212);
}

.info_links {
    display: flex;
    margin-top: 4vh;
    column-gap: 15px;
}

.info_link_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 217, 255, 0.05);
    border: 1px solid rgba(88, 191, 255, 0.1);
    border-radius: 1000px;
    width: 55px;
    height: 55px;
    transition: all 0.1s;
}

.info_link_holder:hover {
    transform: scale(1.1);
    background-color: rgba(88, 191, 255, 0.25);
    border: 1px solid rgba(88, 191, 255, 0.75);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 20px;
}

.prj_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about {
    margin-top: 5vh;
    background-color: rgba(0, 217, 255, 0.05);
    border: 1px solid rgba(88, 191, 255, 0.1);
    width: 100%;
    height: fit-content;
    border-radius: 24px;
    overflow-x: hidden;
    padding-bottom: 15px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
}

.about_text {
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 2em;
    font-weight: 700;
}

.about_link:hover {
    text-decoration: underline;
}

.section {
    height: fit-content;
}

.section_title {
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}

.section_description {
    width: 100%;
    padding: 0 15px;
    font-size: 1.2em;
}

.projects {
    width: 100%;
}

.prj_title {
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-top: 75px;
    margin-bottom: 15px;
}

.skills {
    width: 100%;
}

.skills_title {
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-top: 75px;
    margin-bottom: 15px;
    text-align: left;
}

.skills_holder {
    display: flex;
    flex-wrap: wrap;
    background-color: #131313;
    padding: 15px;
    border-radius: 24px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(100% / 9 - 15px); 
    max-width: calc(100% / 9 - 15px);
}

.skill_text {
    font-size: 1em;
    color: white;
    font-weight: 500;
}

#skills_image {
    width: 100%;
    height: auto;
    max-width: 84px
}

.contact {
    width: 100%;
    margin-bottom: 75px;
}

.contact_title {
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-top: 75px;
    margin-bottom: 15px;
}

.contact_holder {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


form input, form textarea {
    border: 0;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 4px;
    outline: none;
    background-color: #252525;
    color: white;
    font-size: 1rem;
    resize: none;
}

.submit {
    background-color: rgb(75, 123, 234);
    padding: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
}

.btn_text {
    font-size: 1em;
    font-weight: 500;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    height: 100px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    margin-bottom: 75px;
}

.footer_holder {
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    height: fit-content;
}

.footer_links {
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.link_holder {
    transition: all 0.1s;
    color: rgb(255, 255, 255);
}

.link_holder:hover {
    transform: scale(1.2);
}

.powered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4px
}

.powered_text {
    font-size: 1em;
    color: white;
    text-align: center;
    font-weight: 500;
}

#powered_image {
    width: 24px;
}

.copyright_text {
    color: white;
}

@media (max-width: 767px) {
    .header {
        justify-content: center;
    }

    .header-list {
        width: 250px;
    }

    .header-item {
        font-size: 1em;
    }

    .title {
        font-size: 2.3em;
    }
    
    .description {
        font-size: 1.2em;
    }
    
    .chkprj  {
        font-size: 1.2em;
    }
    
    .about_text {
        font-size: 1.5em;
    }

    .section_title {
        font-size: 1em;
    }
    
    .section_description {
        font-size: 1em;
    }

    .prj_title {
        font-size: 1.5em;
    }

    .skills_title {
        font-size: 1.5em;
    }

    .contact_title {
        font-size: 1.5em;
    }


}

@media (max-width: 1000px) {
    .skill {
        flex: 1 1 calc(100% / 8 - 15px); 
        max-width: calc(100% / 8 - 15px);
    }
}

@media (max-width: 480px) {
    .skill_text {
        font-size: 0.7em;
    }
}