---
import "../styles/landing.css"
import logoImage from "../assets/logo.png"
import solarsystemImage from "../assets/solarsystem.png"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f00d779dcd.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Portfolio</title>
</head>
<body>
    <div class="wrapper">
        <div class="text">
            <h1 class="heading">Hey, I'm <mark class="blue">Anush</mark>.</h1>
            <p class="description">High school student and game development enthusiast</p>
            <p class="info">exploring code and technology.</p>
            <button class="projects">View Projects</button>
        </div>
    </div>
</body>
</html>