---
import ("../styles/footer.css")
---

<script src="https://kit.fontawesome.com/f00d779dcd.js" crossorigin="anonymous"></script>

<footer class="footer">
    <div class="footer_holder">
        <div class="footer_icons">
            <div class="icon">
                <i class="fa-brands fa-github fa-2xl"></i>
            </div>
            <div class="icon">
                <i class="fa-brands fa-steam fa-2xl"></i>
            </div>
            <div class="icon">
                <i class="fa-brands fa-itch-io fa-2xl"></i>
            </div>
        </div>
        <div class="footer_text">
            <p class="update">Last updated 10/20/2024</p>
            <p class ="other">Made with Astro</p>
        </div>
    </div>

</footer>
