---
import ("../styles/footer.css")
---

<script src="https://kit.fontawesome.com/f00d779dcd.js" crossorigin="anonymous"></script>

<footer class="footer">
    <div class="footer-content">
        <ul class="footer-list">
            <li class="footer-item">
                <a href="index.html" class="footer_link">Home</a>
            </li>
            <li class="footer-item">
                <a href="about.html" class="footer_link">About</a>
            </li>
            <li class="footer-item">
                <a href="index.html" class="footer_link">Projects</a>
            </li>
            <li class="footer-item">
                <a href="index.html" class="footer_link">Contact</a>
            </li>
        </ul>
        
        <div class="footer-images">
            <div class="icon">
                <i class="fa-brands fa-github fa-xl"></i>
            </div>
            <div class="icon">
                <i class="fa-brands fa-steam fa-xl"></i>
            </div>
            <div class="icon">
                <i class="fa-brands fa-itch-io fa-xl"></i>
            </div>
        </div>
    </div>
</footer>
