---
import ("../styles/navbar.css")
---

<header class="header">
    <nav class="nav">
        <ul class="nav_list">
            <li class="nav_item">
                <a href="#" class="nav_link" id="home">Home</a>
            </li>
            <li class="nav_item">
                <a href="#" class="nav_link" id="about">About</a>
            </li>
            <li class="nav_item">
                <a href="#" class="nav_link" id="projects">Projects</a>
            </li>
            <li class="nav_item">
                <a href="#" class="nav_link" id="contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>